:root{
    --themecolor-default:purple;
    --themecolor-hover:purple;
    --themecolor-:purple;
}


header{
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav{
    margin: 20px 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
}

button{
    background-color: white;
    border-style: dotted;
}

button:hover{
    color: white;
    background-color: var(--themecolor-default);
}
button:active{ /*when being clicked*/
    color: blue;
    box-shadow: inset -1px -1px 2px 2px white;
}
button:focus{

}
